.body {
  padding: 0;
  margin: 0;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.banner .imgBanner {
  width: 1920px;
  height: 493px;
  border-radius: 4px;
}
