@font-face {
  font-family: roboto;
  src: url(../font/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: robotoR;
  src: url(../font/roboto/Roboto-Light.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  position: relative;
}

.containerContato {
  max-width: 1800px;
  width: 1700px;
  height: 700px;
  display: flex;
  flex-direction: row;
}

.ladoEsquerdo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: url(../imgs/contato2.jpg);
}

.svgContatoContainer {
  width: 100px;
  height: 100px;
  margin-top: 60px;
}

#nosContate {
  font-size: 50pt;
  color: white;
  font-family: roboto;
}

.ladoDireito {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: aliceblue;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.informacoes {
  width: 100%;
  height: 100%;
  background-color: #dbdbdbb7;
}

.containerLabel {
  display: flex;
}

label {
  font-family: robotoR;
  font-weight: 100;
}

.seila {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 40px;
}

#name {
  width: 450px;
}

#email {
  width: 449px;
}

#telefone {
  width: 150px;
}

#endereço {
  width: 415px;
}

.containerLabel1 {
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0;
}

.containerInput {
  padding-left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
}

.containerLabel {
  border-radius: 15px;
  margin-top: 15px;
}

.containerMessage {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.containerMessage label {
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: robotoR;
}

.containerMessage textarea {
  width: 95%;
  align-self: center;
}

.containerMessage textarea {
  outline: none;
  resize: none;
}

input[type="text"] {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

input[type="text"]:focus {
  outline: unset;
  font-weight: lighter;
}
