* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: mont;
  src: url(../font/DK\ Lemon\ Yellow\ Sun.otf);
}

.footer {
  display: grid;
  grid-template-columns: 180px 300px 300px;
  grid-template-rows: repeat(2, 50%);
  width: 1720px;
  min-height: 300px;
  padding-left: 200px;
}

.containerLogoFooter {
  display: flex;
  height: 80px;
  align-items: center;
  font-family: dk;
  align-self: center;
}

.subFooter {
  display: flex;
  align-items: center;
  height: 50px;
  grid-row-start: 2;
  grid-row-end: 2;
}

.logo2 {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.gambiarra1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nome1 {
  font-size: 16pt;
  letter-spacing: 2px;
  color: black;
  /*
  background: linear-gradient(
    to left,
    #fc4445,
    #022b3a,
    #808080,
    #000000,
    #2f2fa2
  );
  -webkit-background-clip: text;
  color: transparent;
  */
}

.wrap4 {
  width: 100%;
  display: grid;
  place-content: center;
  background-color: #8080803b;
}
