@font-face {
  src: url(../font/point/pointOne.ttf);
  font-family: point;
}

body {
  padding: 0;
  margin: 0;
}

.slideDisplay {
  width: 1800px;
  display: grid;
  grid-template-columns: 390px 690px 690px;
  gap: 20px;
  padding: 50px 20px;
  place-content: center;
  background-color: rgba(248, 248, 248, 0.7);
}

.slideDisplayItems img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  height: 400px;
}

.mainDisplay {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrap-1 {
  max-width: 1920px;
}

.hotItems h2 {
  text-align: center;
  display: grid;
  place-content: center;
  margin-top: 100px;
  padding: 60px 0 80px 0;
  grid-area: a;
  font-family: ml;
  font-weight: normal;
  font-size: 22pt;
  background-color: rgba(248, 248, 248, 0.7);
  height: 100px;
}

.itemsDisplay1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 300px);
  gap: 20px;
  place-content: center;
  background-color: rgba(248, 248, 248, 0.7);
  padding-bottom: 50px;
}

.itemsDisplay1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 300px);
  gap: 20px;
  place-content: center;
  background-color: rgba(248, 248, 248, 0.7);
  padding-bottom: 50px;
}

.itemsContainer > img {
  width: 170px;
  height: 150px;
  padding: 50px;
  background-color: whitesmoke;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-radius: 4px;
  padding: 30px 0 30px 0;
  background-color: rgba(128, 128, 128, 0.144);
}

.itemsContainer h2 {
  text-align: left;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0 15px;
  padding: 0 15px;
  line-height: 25px;
  background-color: whitesmoke;
}

.itemsContainer h1 {
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  align-self: flex-start;
  width: 256px;
  padding: 10px 0 15px 14px;
  background-color: whitesmoke;
  margin-left: 15px;
}

.brandDisplay {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 200px 200px 300px;
  row-gap: 60px;
  padding: 0 0 200px 0;
  place-content: center;
}

.brandDisplay .sennheiser {
  grid-column-start: 1;
  grid-column-end: 2;
}

.brandDisplay .razer {
  grid-column-start: 3;
  grid-column-end: 4;
}

.brandDisplay .samsumg {
  grid-column-start: 6;
  grid-column-end: 7;
}

.brandDisplay .intel {
  grid-column-start: 1;
  grid-column-end: 2;
}

.brandDisplay .nvidia {
  grid-column-start: 3;
  grid-column-end: 4;
}

.brandDisplay .amd {
  grid-column-start: 6;
  grid-column-end: 7;
}

.brandDisplay .logitech {
  grid-column-start: 1;
  grid-column-end: 2;
}

.brandDisplay .ps {
  grid-column-start: 3;
  grid-column-end: 4;
}

.brandDisplay .xbox {
  grid-column-start: 6;
  grid-column-end: 7;
}

.brandDisplay .xbox .xboxImg {
  width: 200px;
  height: 200px;
}

.brandDisplay .itemsContainer1 {
  display: grid;
  place-content: center;
}

.brandDisplay .itemsContainer1 img {
  width: 260px;
  height: auto;
}

.containerMarcas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.containerMarcas h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}
