@font-face {
  font-family: dk;
  src: url(../font/DK\ Lemon\ Yellow\ Sun.otf);
}

@font-face {
  font-family: mont;
  src: url(../font/mont/Montserrat-Regular.ttf);
}

body {
  padding: 0;
  margin: 0;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.subNome a {
  color: black;
  font-family: mont;
}

.navBar {
  max-width: 100%;
  height: 500px;
  display: grid;
  place-content: center;
}

.subGambiarra {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  font-family: dk;
}

.subSubGambiarra {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.logo {
  height: 140px;
  width: 140px;
  margin-right: 40px 0px;
  margin-left: -20px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.gambiarra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nome {
  font-size: 40pt;
  background: linear-gradient(
    to left,
    #fc4445,
    #022b3a,
    #808080,
    #000000,
    #2f2fa2
  );
  -webkit-background-clip: text;
  color: transparent;
}

.subNome {
  font-size: 20pt;
  padding: 0 5px;
}

.subNome .underlineHover {
  width: 0;
  visibility: hidden;
  height: 1px;
  opacity: 0.3;
}

.subNome:hover .underlineHover {
  width: 100%;
  visibility: visible;
  transition: 0.5s;
  background-color: #000000;
}

.searchIcon {
  margin-top: 6px;
  margin-left: 9px;
  display: flex;
  margin-top: 4px;
}
