.slideDisplay {
  display: flex;
  gap: 20px;
  place-content: center;
}

.slideWrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 500px);
  gap: 20px;
}

.slideDisplayItems img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  height: 350px;
}

.banner {
  display: grid;
  place-content: center;
  padding: 30px 0;
  background-color: rgba(248, 248, 248, 0.7);
}

.containerDots {
  width: 200px;
  height: 17px;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-top: 25px;
}

.dots {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.123);
  border-radius: 50%;
}

.slideHidden {
  display: none;
}
