* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(../font/point/pointOne.ttf);
  font-family: point;
}

.wrap2 {
  width: 100%;
  height: 400px;
  display: grid;
  place-content: center;
  position: relative;
  margin-top: 300px;
}

.sobreNosContainer {
  width: 1800px;
  height: 400px;
  z-index: 1;
}

.sobreNosContainer::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 400px;
  position: absolute;
  width: 1800px;
  border-radius: 4px;
}

.bannerSobreNos {
  width: 1800px;
  height: 400px;
  z-index: -1;
  border-radius: 4px;
}

.textSobreNos {
  position: absolute;
  color: azure;
  font-family: point;
  font-size: 40pt;
  margin-left: 750px;
  margin-top: 70px;
}

.textSobreNos2 {
  position: absolute;
  color: azure;
  width: 1200px;
  font-weight: lighter;
  font-family: point;
  margin-left: 290px;
  margin-top: 140px;
}

.containerTextSobreNos {
  position: relative;
  font-family: point;
  font-weight: light;
  width: 1800px;
  margin-top: 60px;
}
