* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(../font/roboto/Roboto-Thin.ttf);
  font-family: roboto;
}

.wrap2 {
  width: 100%;
  height: auto;
  display: grid;
  place-content: center;
  padding: 100px 0;
}

.sobreNosContainer {
  width: 1800px;
  height: 400px;
  z-index: 1;
}

.sobreNosContainer::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 400px;
  position: absolute;
  width: 1800px;
  border-radius: 4px;
}

.bannerSobreNos {
  width: 1800px;
  height: 400px;
  z-index: -1;
  border-radius: 4px;
}

.textSobreNos {
  position: absolute;
  color: azure;
  font-family: roboto;
  font-size: 40pt;
  margin-left: 750px;
  margin-top: 100px;
}

.textSobreNos2 {
  position: absolute;
  color: azure;
  width: 1200px;
  font-weight: lighter;
  font-family: roboto;
  margin-left: 300px;
  margin-top: 170px;
}

.containerTextSobreNos {
  display: grid;
  place-content: center;
  font-family: roboto;
  width: 1800px;
  margin-top: 60px;
}

.containerTextSobreNos h2 {
  width: 1200px;
  word-spacing: 12px;
  font-size: 15pt;
}

.office {
  padding: 40px 0;
}

.office img {
  width: 1220px;
}
